@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #121214;
  color: #f3f4f6;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
